---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
NamespaceIndentation: None

# Column limit
ColumnLimit: 120

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:          true
  AfterControlStatement: MultiLine
  AfterEnum:           true
  AfterFunction:       true
  AfterNamespace:      false
  AfterStruct:         true
  AfterUnion:          true
  BeforeElse:          true
  BeforeCatch:         true
  SplitEmptyFunction:  false
  SplitEmptyRecord:    false

# Alignment
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<HydraCore/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# Spacing
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Misc
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
PointerAlignment: Left
ReferenceAlignment: Left
...
